# public directory
dist

# Dependency directories
node_modules

# Coverage directory used by tools like istanbul
coverage

# Mac
.DS_Store

# Webpack files
webpack.config.js
webpack.dev.js
webpack.prod.js

src