$mr-blue: #009fc7;
$mr-medium-blue: #1b6c92;
$mr-navy: #00344d;

$mr-grey: #53565a;
$mr-medium-grey: #6e6e6e;
$mr-light-grey: #888b8d;
$mr-extra-light-grey: #eeeeef;

$mr-orange: #f5821f;
$mr-red: #ea1b32;
$mr-green: #00ab88;
$mr-purple: #c0188c;
