.upload-box-container {
    width: 100%;

    .upload-box {
        align-items: center;
        border: 1px dashed #686868;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        height: 6rem;
        justify-content: center;
        outline: none;
        width: 100%;
      
        .upload-box-label {                          
            color: #686868;
            font-size: 1rem;
        }
    }

    .upload-box-message {                          
        color: #686868;
        font-size: 0.8rem;
        margin: 0.2rem 0;  
    }

    .upload-box-file-name {
        float: right;
        font-family: Lato;
        font-size: 0.8rem;
        color: #686868;
        margin: 0.2rem 0;
    }
}